<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">About Me</h1>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4" style="text-align: center;">
        <div>
          <img src="Assets/Imgs/vishal_img.jpg" alt="vishal photo" width="200" height="250">
        </div><br>
        <div>
          <p>Hello! I am Vishal Patel, currently a student at Centennial College, Ontario. Though I thoroughly enjoy my student life, I also like to indulge myself in industrial projects and internships. I have extensive experience in Automation and Development, since I have worked as a Software Engineer at Accenture Pvt. Ltd., India. 
          While programming is something I am good at, Cricket is my hobby. When I am not coding, you can often find me on the cricket field. 
          If you see me as a potential partner for any of your projects, or want to discuss anything be it studies or career or maybe cricket, then let's connect</p>
        </div><br>
        <div>
          <a href="Assets/Files/Vishal_Resume.pdf" download>
            <button style="background-color: blue; color: burlywood;">Download Resume</button>
          </a>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </main>
  <br>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>