<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Projects</h1>
    </div>
    <div class="row">
      <div class="col-sm-6" style="text-align: center;">
        <div><img src="Assets/Imgs/blood locator.jpg" width="200" height="250"></div><br>
        <div><p>Developed a small-scale responsive website for providing <br>information of the donated blood to the donor<br>
          using HTML/CSS, Bootstrap, PHP, SQL.</p></div>
      </div>
      <div class="col-sm-6" style="text-align: center;">
        <div>
          <video width="200" height="250" controls>
            <source src="Assets/Videos/SIS video.mp4" type="video/mp4">
          </video>
        </div><br>
        <div>
          <p>We in a team of three, created an adaptive question bank database in different categories like Java, C, C++, Python,
            Machine Learning, AI etc. We trained Amazon Alexa with the help of Alexa Skill Kit and AWS (Amazon Web Services). Candidate gives an answer and if it is right then next question would be chosen with more complexity and if the answer is wrong then next question would be easier than the precious
            one.
            Answer evaluation was achieved with the help of the “Natural Language Processing”.
            Also developed a GUI using J2EE wherein the user could register himself, give feedback, and
            submit a complaint.</p>
        </div>
      </div>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>