<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Services</h1>
    </div>
    <div class="row">
      <div class="col-sm-6" style="text-align: center;">
        <div>
          <h4><u>Web Development</u></h4>
          <h5>Develop your website over with in time.</h5>
        </div><br>  <!--heading of service -->
        
        <div><img src="Assets/Imgs/web-development.png" width="350" height="250"></div><br>

        <!--description of service-->
        <div>
          <p>We help in building attractive and <br>engaging websites that can captivate<br> the attention of their potential audience.</p>
        </div>   
        
      </div>
      <div class="col-sm-6" style="text-align: center;">

      </div>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>